<!DOCTYPE html>
<html>
<head>
	<title>Revising ng version 1</title>
	<script type="text/javascript" src="../lib/angular1.5.1.js"></script>
	<!--
	<script type="text/javascript" src="reviseNG.js"></script>
	-->
	
	<script type="text/javascript" src="../js/patterns/taskManager.js"></script>
	<script type="text/javascript" src="../js/patterns/task.js"></script>
</head>
<body ng-app="reviseNG">
	
	<section ng-controller="taskCtrl as ctrl" class="constructor Pattern">
		 <h2> contructor pattern Sample</h2>

		 <div ng-repeat="task in ctrl.tasks">
			<input type="checkbox" ng-checked="task.completed" ng-click="task.complete()"/>
			 		{{task.name}}
		 </div>

	</section>

</section>
</body>
</html>